{% extends 'blog/base.html' %}

{% block content %}

	 <article class="media content-section" style="height: ">
		<p>Damios Blog is a blog application that allows you to create blog posts. You can share your thoughts and let people know your mind. You can share various topics ranging from sports to religion to politics, etc. <br><br>
		 You only need to register by putting in your email username, adress and password. You can always update or delete your post whenever you want to. <br><br>

		 You can also learn from others as they post on the blog. 
	</article>


{% endblock content %}
